<div class="top-of-page "#topOfPage></div>
<div class="side-paddings case-container">
  <div class="mobile-only mobile-text">Mobile layout under construction. Please view this case study on a full size screen!</div>
  <div class="no-mobile">
    <div class="case-title case-partial-width">Redesigning the Customer Service List application for an automotive retailer</div>

    <div class="case-metadata case-section case-partial-width">
      <p>Timeline: Sep 2023 - January 2024</p>
      <p>Role: Design Lead</p>
      <p style="margin-bottom: 0px">Team: Design Lead (1), Associate UX Designer (2), UX Product Analyst (1)</p>
    </div>

    <hr class="case-section" style="margin-top: 0px;">

    <div class="case-section case-partial-width">
      <div class="case-subtitle">Problem</div>
      <span class="case-content">After the initial launch of the Desktop POS, the business wanted to make significant modifications to the Customer Service List design, including a request to vary dashboard views based on store type.</span>
    </div>

    <div class="case-section case-partial-width">
      <div class="case-subtitle">Solution</div>
      <span class="case-content">Reimagine how the main POS application looks and functions to enhance a store employee’s experience with the POS system and make it easier to provide services to customers.</span>
    </div>

    <div class="case-section case-partial-width">
      <div class="case-subtitle">Approach</div>
      <span class="case-content">Combed through a large list of change requests, ideated on ways to incorporate business requirements and sponsor user feedback. Whiteboarded, iterated, and conducted multiple presentations to deliver final designs by a strict deadline.</span>
    </div>
    
    <div class="case-section">
      <div class="case-card-grid-container">
        <div class="case-card card-1">
          <div class="case-card-title">Requirement #1</div>
          <div class="case-content">There needs to be a bolder differentiation between service types (Appointment, Walk-in, BOPIS, Return for Service).</div>
        </div>
        <div class="case-card card-1">
          <div class="case-card-title">Requirement #2</div>
          <div class="case-content">Add new information to the customer cards and allow employees to see more cards on the screen at once.</div>
        </div>
      </div>

      <div class="case-card-grid-container">
        <div class="case-card card-2">
          <div class="case-card-title">Design</div>
          <div class="case-content">Incorporated color-coded flags at the top of a customer card to make it easier for employees to spot them at a glance.</div>
        </div>
        <div class="case-card card-2">
          <div class="case-card-title">Design</div>
          <div class="case-content">Introduced collapsed and expanded views and rearranged items based on priority for both views.</div>
        </div>
      </div>

      <div class="case-card-grid-container">
        <div class="case-card card-3">
          <div class="case-card-title">Feedback/Changes</div>
          <div class="case-content">Iterated on color combinations to differentiate services while staying close to color coding the employees are familiar with.</div>
        </div>
        <div class="case-card card-3">
          <div class="case-card-title">Feedback/Changes</div>
          <div class="case-content">Created [text/color/icons] variants of how and where to present info. Consulted stakeholders on what is most important for employees to see at different phases of their workflow.</div>
        </div>
      </div>
    </div>

    <div class="case-section case-card-grid-container">
      <div>
        <img src="assets/1 Desktop POS/1 Old Version.png"
              class="content-image"
              (click)="openDialog('assets/1 Desktop POS/1 Old Version.png')">
        <div class="case-card-title">Old Version</div>
        <div class="case-content" style="width: 90%">The customer cards contained a lot of extra whitespace and their large size meant employees could only view a few at a time. For busy stores with a long list of customers, it would be difficult for employees to view details at a glance.</div>
      </div>
      <div>
        <img src="assets/1 Desktop POS/2 New Version.png"
              class="content-image"
              (click)="openDialog('assets/1 Desktop POS/2 New Version.png')">
        <div class="case-card-title">New Version</div>
        <div class="case-content" style="width: 90%">Added color-coded indicators, re-arranged details based on priority, and implemented a more effective use of space. Improves the store’s workflow by allowing employees to see more customers at once and focus on specific customer details via expand/collapse.</div>
      </div>
    </div>
    
    <hr class="case-section" style="margin-top: 0px;">

    <div class="case-section case-partial-width">
      <div class="case-subtitle">Impact</div>
      <ul class="case-content">
        <li>The new Customer Service List for Desktop was rolled out to 6 store locations and will roll out to all 1,100+ stores across the US in 2025.</li>
        <li>Increases revenue due to improved store efficiency and productivity.</li>
      </ul>
    </div>

    <div class="kind-words-blurb case-section">
      <span>“During a critical period when I was on maternity leave, Michelle stepped up to take over my role as UX Designer Lead, assuming full responsibility for the ongoing projects. One of her most significant accomplishments during this time was successfully managing a large-scale redesign of the In-Store Application. Despite the complexity and scale of the project, Michelle handled it with remarkable competence, ensuring that the redesign was executed smoothly and effectively, meeting all project deadlines and objectives.”</span>
      <br>
      <br>
      <span class="blurb-source">— Senior UX Designer and Design Lead at Client</span>
    </div>  

    <hr class="case-section" style="margin-top: 0px;">
    
    <div class="nav-buttons-container case-section">
      <button mat-stroked-button (click)="goTo('design-system')" class="nav-button">← &nbsp; Case Study: Design System</button>
      <button mat-flat-button (click)="scrollToTop()" class="nav-button">↑ &nbsp; back to top</button>
      <button mat-stroked-button (click)="goTo('mobile-pos')" class="nav-button">Case Study: Mobile POS &nbsp; →</button>
    </div>
  </div>
</div>

