<div class="content-container home-container full-min-height">
  <div class="side-paddings">
    <div class="home-intro">
      <div class="prof-pic">
        <img src="assets/Home/Profile.png" style="width: 100%">
      </div>
      <div class="intro-text-container">
        <span class="intro-text">
          Hi, I’m Michelle, a Product Designer. Previously an Associate Director of UX Design at IBM.
        </span>
        <br>
        <span class="sub-intro-text">
          I have a strong understanding of diverse user needs, gained through working with clients across retail, communications, finance, and healthcare sectors. I specialize in creating solutions that not only enhance user satisfaction but also drive business success.
        </span>
        <br>
        <span class="sub-intro-text">
          As a designer, I am passionate about advocating for the end user and fostering collaboration within my team. Some of my proudest accomplishments include leading a successful application redesign used by thousands of employees and mentoring junior designers to help them advance in their careers.
        </span>
        <br>
        <span class="sub-intro-text">
          Outside of design, I love to run with my rescue dog Milo 🐕, pick up the latest book releases 📚, and perfect my matcha recipe 🍵.
        </span>
      </div>
    </div>

    <div class="recent-work" #work>recent work</div>
    <div class="case-card-grid-container">
      <ng-container *ngFor="let case of caseStudies; let i = index">
        <new-case-card [name]="case.name"
                   [description]="case.description"
                   [imgPath]="case.imgPath"
                   [caseUrl]="case.caseUrl"
                   [fullWidth]="case.fullWidth"
                   [index]="i">
         </new-case-card>
      </ng-container>
    </div>

    <hr>

    <div class="recent-work">kind words from my colleagues</div>
    <div class="kind-words-carousel">
      <div class="mobile-button-container mobile-only">
        <img src="assets/arrow_circle_left.svg" style="margin-right: 10px; cursor: pointer" (click)="incrementBlurb(-1)">
        <img src="assets/arrow_circle_right.svg" style="margin-left: 10px; cursor: pointer" (click)="incrementBlurb(1)">
      </div>
      <img src="assets/arrow_circle_left.svg" class="no-mobile" style="margin-right: 10px; cursor: pointer" (click)="incrementBlurb(-1)">
      <div class="kind-words-blurb" #blurbContent>
        <!-- modified with js -->
        <span>“Beyond her technical skills, Michelle’s proactive approach and initiative were truly standout qualities. She consistently took the lead on projects, identifying challenges and opportunities for improvement without needing explicit direction. Her resourcefulness and dedication were evident in every task she undertook, often exceeding expectations and delivering exceptional results. </span>
        <br>
        <br>
        <span>Michelle’s collaborative spirit was equally impressive. She excelled in team settings, contributing thoughtfully to discussions, sharing her expertise, and fostering a positive, supportive environment. Her ability to work effectively with cross-functional teams, developers, and stakeholders was key to ensuring smooth project workflows and successful outcomes.”</span>
        <br>
        <br>
        <span class="blurb-source">— Senior UX Designer and Design Lead, Client</span>
      </div>
      <img src="assets/arrow_circle_right.svg" class="no-mobile" style="margin-left: 10px; cursor: pointer" (click)="incrementBlurb(1)">
    </div>

  </div>
  <div class="side-paddings" style="margin-bottom: 70px" #work>
    
  </div>
</div>
