.header {
  padding-top: 36px;
  padding-bottom: 60px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.name-logo {
  font-family: 'Lora';
  font-size: 24px;
  line-height: 48px;
  font-weight: bold;
  color: var(--forest);
  vertical-align: middle;
}

.header-links-container {
  vertical-align: middle;
  line-height: 48px;
}

.header-link {
  &:not(.name-logo):not(:first-child){
    margin-left: 80px;
  }
  font-weight: 600;
  letter-spacing: 0.5px;
  transition: 0.2s;
}

.header-link:hover {
  color: var(--copper);
}

.resume {
  color: var(--dark-contrast);
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .header {
    padding-top: 10px;
    padding-bottom: 25px;
    font-size: 16px;
  }

  .name-logo {
    font-family: 'Lora';
    font-size: 16px;
    //line-height: 48px;
  }

  .header-link {
    &:not(.name-logo):not(:first-child){
      margin-left: 20px;
    }
  }

  .logo {
    max-width: 40%;
  }
}
