<div class="footer side-paddings">
  <div class="credits">
    <span>
      © 2025 Michelle Baamonde
    </span>
    <span style="margin-left:10px">
      Development by Michelle +
      <a href="https://github.com/dannyb21892" target="_blank" class="link-hover">
        Daniel Baamonde
      </a>
    </span>
  </div>

  <div class="center">
    <div class="social-icon-container">
      <a href="https://www.linkedin.com/in/michellebaamonde/" target="_blank" class="link-hover social-link">
        LinkedIn
      </a>
      <a href="mailto:michellebaamonde@gmail.com" target="_blank" class="link-hover social-link">
        Email
      </a>
    </div>
  </div>
</div>
