<div class="footer side-paddings">
  <div class="credits">
    <span>
      © 2026 Michelle Park-Baamonde
    </span>
    <span style="margin-left:10px">
      Development by Michelle +
      <a href="https://github.com/dannyb21892" target="_blank" class="link-hover">
        Daniel
      </a>
    </span>
  </div>

  <div class="center">
    <div class="social-icon-container">
      <a href="https://www.linkedin.com/in/michelleparkbaamonde/" target="_blank" class="link-hover social-link">
        LinkedIn
      </a>
      <a href="mailto:mparkbaamonde@gmail.com" target="_blank" class="link-hover social-link">
        Email
      </a>
    </div>
  </div>
</div>
