.footer {
  display: flex;
  justify-content: space-between;
  height: var(--footer-height);
  vertical-align: middle;
  line-height: var(--footer-height);
  background-color: var(--forest);
  color: var(--light-contrast);
  font-size: min(14px, 1.3vw);
}

.social-icon-container {
  display: flex;
  justify-content: flex-end;
  max-width: 200px;
}

.link-hover {
  cursor: pointer;
  transition: 0.2s;
}

.link-hover:hover {
  color: var(--copper);
}

.social-link {
  cursor: pointer;
  transition: 0.2s;
  margin: 0px 10px;
}


@media only screen and (max-width: 600px) {
  .footer {
    font-size: 9px;
    flex-direction: column;
    height: 44px;
    padding: 10px 20px 10px 20px;
    line-height: normal;
    line-height: 18px;
    text-align: center;
  }

  .center {
    display: flex;
    justify-content: center;
  }

  .social-icon-container {
    justify-content: center;
    width: 100vw;
  }
}
